<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.androidhive.recyclerviewsearch">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Login"
            android:label="@string/app_name"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PendaftaranDokter"
            android:label="@string/title_activity_pendaftaran_dokter"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PendaftaranPoli"
            android:label="@string/title_activity_pendaftaran_poli"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".Fasilitas"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity android:name=".ActivityTwo" />
        <activity android:name=".Pendaftaran" />
        <activity android:name=".Main2Activity" />
        <activity
            android:name=".KamarTidurDetail"
            android:label="@string/title_activity_main3"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".JadwalDokter"
            android:label="@string/title_activity_jadwal_dokter"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity" />
        <activity android:name=".RegisterApps" />
        <activity android:name=".MapsActivity" />
        <activity
            android:name=".PendaftaranDokterAfterPoli"
            android:parentActivityName=".PendaftaranPoli" />
        <activity android:name=".DetailDokter" />
        <activity android:name=".Today" />
        <activity android:name=".RiwayatTransaksi" />
        <activity android:name=".LupaPassword" />
        <activity android:name=".PasienByDokter" />
        <activity android:name=".PasienByPoli" />
        <activity android:name=".ConfirmasiDokter" />
        <activity android:name=".ConfirmasiPoli" />
        <activity android:name=".PromoActivity" />
        <activity android:name=".EventMenu" />
        <activity android:name=".EdukasiMenu" />
        <activity android:name=".IsiPromo" />
        <activity android:name=".IsiEdukasi" />
        <activity android:name=".IsiEvent" />
        <activity android:name=".frag1" />
        <activity android:name=".frag2_layout" />
        <activity android:name=".frag1_layout" />
        <activity android:name=".frag3_layout" />
        <activity
            android:name=".MitraMenu"
            android:label="@string/title_activity_mitra_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Penampung"></activity>
    </application>

</manifest>